<div>
  <div class="row">
    <div class="col-sm-12 " style="z-index:2;">
      <h2 class="text-center"> Surveillance Tracker </h2>
    </div>
  </div>
  <div style="display: flex; background-color: lightgrey;">
    <div class="col-md-6">
      <div class="row_Custom">
        <div class="col-md-6 row_image">
          <canvas #canvas1 width="370" height="265" tooltip={{Park1AR1_FinalStats}} [options]="myOptions" (mouseover)="onMouseOver('canvas1');"> </canvas>
        </div>
        <div tooltip={{Park2NAR1_FinalStats}} class="col-md-6 row_image">
          <canvas #canvas2 width="370" height="265" tooltip={{Park2NAR1_FinalStats}} [options]="myOptions" (mouseover)="onMouseOver('canvas2');"></canvas>
        </div>
      </div>
      <div class="row_Custom">
        <div class="col-md-6 row_image">
          <canvas #canvas3 width="370" height="265" tooltip={{Park3AR1_FinalStats}} [options]="myOptions" (mouseover)="onMouseOver('canvas3');"></canvas>
        </div>
        <div class="col-md-6 row_image">
          <canvas #canvas4 width="370" height="265" tooltip={{Park4AR1_FinalStats}} [options]="myOptions" (mouseover)="onMouseOver('canvas4');"></canvas>
        </div>
      </div>
      <div class="row_Custom">
        <div class="col-md-6 row_image">
          <canvas #canvas5 width="370" height="265" tooltip={{Beach1AR1_FinalStats}} [options]="myOptions" (mouseover)="onMouseOver('canvas5');"></canvas>

        </div>
        <div class="col-md-6 row_image">
          <canvas #canvas6 width="370" height="265" tooltip={{Beach2NAR1_FinalStats}} [options]="myOptions" (mouseover)="onMouseOver('canvas6');"></canvas>

        </div>
      </div>
      <div class="row_Custom">
        <div class="col-md-6 row_image">
          <canvas #canvas7 width="370" height="265" tooltip={{Beach3AR1_FinalStats}} [options]="myOptions" (mouseover)="onMouseOver('canvas7');"></canvas>


        </div>
        <div class="col-md-6 row_image">
          <canvas #canvas8 width="370" height="265" tooltip={{Beach4NAR1_FinalStats}} [options]="myOptions" (mouseover)="onMouseOver('canvas8');"></canvas>

        </div>
      </div>
    </div>
    <div class="col-md-6 map" style="top:0px;">
      <agm-map #gm [latitude]="lat" [zoom]="zoom" [longitude]="lng" style="height:780px" [mapTypeId]="'hybrid'">
        <agm-marker [latitude]="lat" [longitude]="lng" (mouseOver)="onMarkerMouseOver(infoWindow,gm)">
          <agm-info-window style="background-color: beige; padding:5px;" [disableAutoPan]="false" #infoWindow>
            <div>
              <h4 style="background-color: darkcyan;color:white;padding: 8px;"> {{ locationHover }} </h4>
              <h5> {{lat}}</h5>
              <h5> {{lng}}</h5>
            </div>
          </agm-info-window>
        </agm-marker>

      </agm-map>
    </div>
  </div>
</div>