<div>
  <div class="row">
    <div class="col-sm-12 ">
      <h2 class="text-center"> Surveillance Tracker </h2>
    </div>
  </div>
  <div style="display: flex; background-color: lightgrey;">
    <div class="col-md-6">
      <div class="row_Custom">
        <div class="col-md-6 row_image">
          <img src="assets/images/Park1_AR.jpg" class="img" width="370" height="265">
          <div class="blink well" style="margin-top: 10px; width:370px;">
            <span class="label1 success"><strong> People are {{Park1AR1}} </strong></span>
          </div>
          <div class="blink well" style="margin-top: 10px; background-color: {{color1}}; width:370px;">
            <span class="label1"> {{Park1AR1_FinalStats}} </span>
          </div>
        </div>
        <div class="col-md-6 row_image">
          <img src="assets/images/Park2_NAR.jpg" class="img" width="370" height="265">
          <div class="blink well" style="margin-top: 10px; width:370px;">
            <span class="label1 success"> <strong> People are {{Park2NAR1}} </strong></span>
          </div>
          <div class="blink well" style="margin-top: 10px; background-color:{{color2}}; width:370px;">
            <span class="label1"> {{Park2NAR1_FinalStats}} </span>
          </div>
        </div>
      </div>
      <div class="row_Custom">
        <div class="col-md-6 row_image">
          <img src="assets/images/Park3_AR.jpg" class="img" width="370" height="265">
          <div class="blink well" style="margin-top: 10px; width:370px;">
            <span class="label1 success"><strong> People are {{Park3AR1}} </strong></span>
          </div>
          <div class="blink well" style="margin-top: 10px; background-color:{{color3}}; width:370px;">
            <span class="label1"> {{Park3AR1_FinalStats}} </span>
          </div>
        </div>
        <div class="col-md-6 row_image">
          <img src="assets/images/Park4_AR.jpg" class="img" width="370" height="265">
          <div class="blink well" style="margin-top: 10px; width:370px;">
            <span class="label1 success"><strong> People are {{Park4AR1}} </strong></span>
          </div>
          <div class="blink well" style="margin-top: 10px; background-color:{{color4}}; width:370px;">
            <span class="label1"> {{Park4AR1_FinalStats}} </span>
          </div>
        </div>
      </div>
      <div class="row_Custom">
        <div class="col-md-6 row_image">
          <img src="assets/images/Beach1_AR.jpg" class="img" width="370" height="265">
          <div class="blink well" style="margin-top: 10px; width:370px;">
            <span class="label1 success"><strong> People are {{Beach1AR1}} </strong></span>
          </div>
          <div class="blink well" style="margin-top: 10px; background-color:{{color5}}; width:370px;">
            <span class="label1"> {{Beach1AR1_FinalStats}} </span>
          </div>
        </div>
        <div class="col-md-6 row_image">
          <img src="assets/images/Beach2_NAR.jpg" class="img" width="370" height="265">
          <div class="blink well" style="margin-top: 10px; width:370px;">
            <span class="label1 success"> <strong> People are {{Beach2NAR1}} </strong></span>
          </div>
          <div class="blink well" style="margin-top: 10px; background-color:{{color6}}; width:370px;">
            <span class="label1"> {{Beach2NAR1_FinalStats}} </span>
          </div>
        </div>
      </div>
      <div class="row_Custom">
        <div class="col-md-6 row_image">
          <img src="assets/images/Beach3_AR.jpg" class="img" width="370" height="265">
          <div class="blink well" style="margin-top: 10px; width:370px;">
            <span class="label1 success"><strong> People are {{Beach3AR1}} </strong></span>
          </div>
          <div class="blink well" style="margin-top: 10px; background-color:{{color7}}; width:370px;">
            <span class="label1"> {{Beach3AR1_FinalStats}} </span>
          </div>

        </div>
        <div class="col-md-6 row_image">
          <img src="assets/images/Beach4_NAR.jpg" class="img" width="370" height="265">
          <div class="blink well" style="margin-top: 10px; width:370px;">
            <span class="label1 success"><strong> People are {{Beach4NAR1}} </strong></span>
          </div>
          <div class="blink well" style="margin-top: 10px; background-color:{{color8}}; width:370px;">
            <span class="label1"> {{Beach4NAR1_FinalStats}} </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 map">
      <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" style="height:650px">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>