.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
}

.user_info {
  text-align: center;
  display: block;
  height: 100%;
  padding: 5%;
  font-size: x-large;
}

.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}

.input-group {
  bottom: 0px;
  position: absolute;
}

.chat-box {
  max-height: 70%;
  display: flex;
  overflow-y: auto;
  flex-direction: column-reverse;
  margin-top: 3%;
}

textarea {
  height: 20%;
  width: 100%;
}

.msg_cotainer {
  max-width: 60%;
  background-color: cornflowerblue;
  border-radius: 20px;
  text-align: center;
  float: right;
  padding: 10px;
  margin: 10px 0px 10px 5px;
}

.msg_cotainer_send {
  text-align: left;
  max-width: 60%;
  background-color: cornflowerblue;
  border-radius: 20px;
  text-align: center;
  float: left;
  padding: 10px;
  margin: 10px 0px 10px 5px;
}

.input-group {
  width: 100%;
}