<div class="well" style="overflow-y:auto;">
  <h4>Regulations</h4>
  <p>> Maintain a physical distance of at least 1.5 metres from others.</p>
  <p>> Practise good hand hygiene.</p>
  <p>> Take extra care if you're around vulnerable people.</p>
  <p>> Stay active and healthy.</p>
  <p>> Follow the NSW rules for gatherings that apply to individuals and businesses.</p>
  <p>> Get tested if you have any symptoms, even if they are only mild.</p>
  <p>> Stay home until you get the test result, or are medically cleared.</p>
</div>