<h1>Total Cases </h1>
<div class="content">
  <div class="row">
    <div class="col-xs-12 visible-xs">
      <app-cases-number></app-cases-number>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 visible-xs">
      <div class="well">
        <h4>{{location}}</h4>
        <p>Total Number of Cases : {{cases1}}</p>
        <p>Total Number of Deaths : {{death1}}</p>
        <p>Total number of recovery : {{recover1}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 visible-xs">
      <div class="well">
        <h4 class="text">{{loc1}}</h4>
        <p class="text">Total Number of Cases : {{cases}}</p>
        <p class="text">Total Number of Deaths : {{death}}</p>
        <p class="text">Total number of recovery : {{recover}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 visible-xs">
      <div class="well">
        <h4 class="text">Global</h4>
        <p class="text">Total Number of Cases : {{cases}}</p>
        <p class="text">Total Number of Deaths : {{death}}</p>
        <p class="text">Total number of recovery : {{recover}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 hidden-xs">
      <app-cases-number></app-cases-number>
    </div>
    <div class="col-xs-6 hidden-xs">
      <div class="well">
        <h4>{{location}}</h4>
        <p>Total Number of Cases : {{cases1}}</p>
        <p>Total Number of Deaths : {{death1}}</p>
        <p>Total number of recovery : {{recover1}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 hidden-xs">
      <div class="well">
        <h4 class="text">{{loc1}}</h4>
        <p class="text">Total Number of Cases : {{cases}}</p>
        <p class="text">Total Number of Deaths : {{death}}</p>
        <p class="text">Total number of recovery : {{recover}}</p>
      </div>
    </div>
    <div class="col-xs-6 hidden-xs">
      <div class="well">
        <h4 class="text">Global</h4>
        <p class="text">Total Number of Cases : {{cases2}}</p>
        <p class="text">Total Number of Deaths : {{death2}}</p>
        <p class="text">Total number of recovery : {{recover2}}</p>
      </div>
    </div>
  </div>
</div>