<div>
  <div class="row">
    <div class="col-sm-12 ">
      <h2 class="text-center"> Proximity And Density Tracker </h2>
    </div>
  </div>
  <div class="row_Custom">
    <div class="col-md-3 row_image">
      <img src="assets/images/1.jpg" class="img" width="300" height="210">
      <div class="blink well" style="margin-top: 10px; background-color: {{color1}}; width:300px;">
        <span class="label1 success"><strong> Total number of people : </strong> {{var1}} </span>
      </div>
      <div class="blink well" style="margin-top: 10px; background-color: {{color11}}; width:300px;">
        <span class="label1 success"><strong> Most people in a group : </strong> {{var11}}</span>
      </div>
    </div>
    <div class="col-md-3 row_image">
      <img src="assets/images/2.jpg" class="img" width="300" height="210">
      <div class="blink well" style="margin-top: 10px; background-color: {{color2}}; width:300px;">
        <span class="label1 success"> <strong> Total number of people : </strong> {{var2}}</span>
      </div>
      <div class="blink  well" style="margin-top: 10px; background-color:{{color22}}; width:300px;">
        <span class="label1 success"><strong> Most people in a group : </strong> {{var22}}</span>
      </div>
    </div>
    <div class="col-md-3 row_image">
      <img src="assets/images/3.jpg" class="img" width="300" height="210">
      <div class="blink well" style="margin-top: 10px; background-color: {{color3}}; width:300px;">
        <span class="label1 success"><strong> Total number of people : </strong> {{var3}}</span>
      </div>
      <div class="blink well" style="margin-top: 10px; background-color:{{color33}}; width:300px;">
        <span class="label1 success"><strong> Most people in a group : </strong> {{var33}}</span>
      </div>
    </div>
  </div>
</div>